@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update Book</title>
</head>
<body>
    <script>
        function myFunction() {
            document.getElementById("IDOldtitle").value = sessionStorage.getItem("oldTitle");
        }
    </script>
    <div>
        <form action="/Update/Update" method="GET">
            Title: <input type="text" id="IDtitle" name="title" /> <br />
            Author: <input type="text" id="IDauthor" name="author" /> <br />
            Pages: <input type="number" id="IDpages" name="pages" /> <br />
            Genre: <input type="text" id="IDgenre" name="genre" /> <br />
            IsLent: <input type="checkbox" id="IDisLent" name="isLent" /> <br />
            <input type="hidden" id="IDbookId" name="id" /> <br />
            <input type="submit" value="Update book" onclick="myFunction()" />
        </form>
    </div>
    <script>
        // Extract the book ID from the URL query string
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const bookId = urlParams.get('id');

        // Set the book ID value in the hidden input field
        document.getElementById("IDbookId").value = bookId;
    </script>
</body>
</html>
