@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Book</title>
</head>
<body>
    <script>
        function myFunction() {
            document.getElementById("IDusername").value = JSON.parse(sessionStorage["username"]).username;
        }
    </script>
    <div>
        <form action="/Add/Add" method="GET">
            Title : <input type="text" id="IDtitle" name="title" /> <br />
            Author : <input type="text" id="IDauthor" name="author" /> <br />
            Pages : <input type="number" id="IDpages" name="pages" /> <br />
            Genre : <input type="text" id="IDgenre" name="genre" /> <br />
            IsLent : <input type="checkbox" id="IDlent" name="isLent" /> <br />
            <input type="hidden" id="IDusername" name="username" /> <br />
            <input type="submit" value="Add book" onclick="myFunction()" />
        </form>
    </div>
</body>
</html>
